.header {
    background-position: 100% 40%;
        background-image: url("https://assets.channext.eu/barco/2024/videobar/img/header.jpg"),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header-text {
    font-size: 65px;
    font-weight: 700;
    color: #F00000!important;
    }
    
    .header-sub-text {
        font-size: 35px;
        font-weight: 700;
        color: #FFFFFF!important;
    }

    .col-md-6 .product {
  height: 200px!important;
    margin-bottom: 6%;
}
 
     .col-lg-4 .bitmap {
  height: 200px!important;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
 
    .btn-red {
       background-color: #f00000 !important;
        color: white !important;
        margin-top: 1rem;
        border-radius: 4px;
        padding: 15px 25px;
        border: 2px solid #f00000 !important;
    }
    
    .btn-red:hover {
       background-color: transparent !important;
        color: #f00000 !important;
        margin-top: 1rem;
        border-radius: 4px;
        border: 2px solid #f00000 !important;
  
    }
    
    .f-900, 
    b {
        font-weight: 900 !important;
    }
    
    li {
    font-weight: 300!important;
    }
    
    .f-22 {
        font-size: 21px;
        font-weight: 700;
        line-height: 23px!important;
    }
    
    @media screen and (max-width: 768px) {
        .header-text {
    font-size: 45px;
    }
    
    .header-sub-text {
        font-size: 22px;
    }
    
   .bitmap {
    height: 300px!important;
    width: 100%;
}
    }
    
    @media screen and (max-width: 425px) {  
     .header-text {
    font-size: 35px;
    }
    
    .header-sub-text {
        font-size: 20px;
    }
    }
    
    .border {
        border: 2px solid #dee2e6 !important;
    }
    
    a {
        font-weight: normal!important;
        line-height: inherit;
        color: #f00000;
        text-decoration: none;
        cursor: pointer;
    }
    
        a:hover {
        font-weight: normal!important;
        line-height: inherit;
        color: #f00000;
        text-decoration: underline;
        cursor: pointer;
    }
    
    
    /* Form */
    form input {
        background: #fff;
        border: 2px solid #f7f7f7;
    }
    
    form input:not([type="checkbox"]) {
        width: 99%;
        height: 45px;
    }
    
    form input[type="checkbox"] {
        margin-top: 0.4px!important;
    }
    
    form label {
        display: none;
    }
    
    form .checkbox label{
    margin-bottom: auto !important;
    margin-top: auto !important;
    }
    
    
.text,
.email,
.phone {
 width: 47%;
    margin-right: 7px;
}

form {
    display: flex;
    flex-wrap: wrap;
}


.text input,
.email input, 
.phone input {
    height: 50px;
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    padding: 10px;
}
    
    form input:focus {
        border: 2px solid #f7f7f7;
        background: #fff;
        outline: 0;
    }
    
    form .button {
      background-color: #f00000;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 3px solid #f00000 !important;
    padding: 10px 110px;
    }
    
    form .button:hover {
       background-color: transparent;
        color: #f00000;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        border: 3px solid #f00000 !important;
    padding: 10px 110px;
    }
    
    .gray-bg {
    background-color: #f7f7f7
    }
    
    .field.vendor_opt_in.checkbox,
    .field.reseller_opt_in.checkbox{
    width: 100%;
    display: flex;
    margin-top: 1%;
    }